<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi agendada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
  <br />
  <small>
    O produto já está disponível para retirada.
  </small>
</p>
